@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");
@font-face {
  font-family: "Monument Extended";
  src: url("/public/Poppins-Thin.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-nunito: Nunito;
  --font-poppins: Poppins;
  --font-monument-extended: "Monument Extended";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-62xl: 81px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-91xl: 110px;
  --font-size-36xl: 55px;
  --font-size-14xl: 33px;
  --font-size-101xl: 120px;
  --font-size-29xl: 48px;
  --font-size-11xl: 30px;
  --font-size-56xl: 75px;
  --font-size-26xl: 45px;
  --font-size-41xl: 60px;
  --font-size-xs: 12px;

  /* Colors */
  --color-indigo-100: #542bac;
  --color-indigo-200: #5229a9;
  --color-indigo-300: #5126a9;
  --aqxaxa: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.6);
  --color-gray-200: rgba(255, 255, 255, 0.18);
  --color-gray-300: rgba(255, 255, 255, 0.4);
  --color-gray-400: rgba(255, 255, 255, 0.25);
  --color-turquoise: #58e6cb;
  --color-darkorchid: #6535cb;
  --color-blueviolet-100: #622fcd;
  --color-blueviolet-200: rgba(136, 85, 244, 0.3);
  --color-mediumslateblue-100: #7449ce;

  /* Gaps */
  --gap-148xl: 167px;
  --gap-xl: 20px;
  --gap-143xl: 162px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-50xl: 69px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-37xl: 56px;
  --gap-5xs: 8px;
  --gap-41xl: 60px;
  --gap-sm: 14px;
  --gap-3xs-7: 9.7px;
  --gap-12xs: 1px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-12xs-9: 0.9px;
  --gap-2xs-1: 10.1px;
  --gap-2xs-4: 10.4px;
  --gap-2xs-8: 10.8px;
  --gap-xs-2: 11.2px;
  --gap-xs-6: 11.6px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-6xl: 25px;
  --gap-57xl: 76px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-17xl-6: 36.6px;
  --gap-3xs: 10px;
  --gap-150xl-6: 169.6px;
  --gap-10xs-8: 2.8px;
  --gap-151xl: 170px;
  --gap-2xl: 21px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-9xl: 28px;
  --gap-45xl-5: 64.5px;
  --gap-6xs: 7px;
  --gap-4xs: 9px;
  --gap-11xl: 30px;
  --gap-34xl-5: 53.5px;
  --gap-8xl: 27px;
  --gap-14xl-5: 33.5px;
  --gap-10xl: 29px;
  --gap-7xl: 26px;
  --gap-base-3: 15.3px;
  --gap-lg-5: 18.5px;
  --gap-3xl: 22px;

  /* Paddings */
  --padding-35xl: 54px;
  --padding-85xl: 104px;
  --padding-86xl: 105px;
  --padding-7xl: 26px;
  --padding-49xl: 68px;
  --padding-33xl: 52px;
  --padding-lg: 18px;
  --padding-3xl: 22px;
  --padding-mini-3: 14.3px;
  --padding-7xs-3: 5.3px;
  --padding-11xs-8: 1.8px;
  --padding-66xl: 85px;
  --padding-81xl: 100px;
  --padding-151xl: 170px;
  --padding-105xl: 124px;
  --padding-17xl: 36px;
  --padding-31xl: 50px;
  --padding-52xl: 71px;
  --padding-43xl: 62px;
  --padding-xl: 20px;
  --padding-36xl: 55px;
  --padding-91xl: 110px;
  --padding-2xl: 21px;
  --padding-13xl: 32px;
  --padding-4xl: 23px;
  --padding-7xs: 6px;
  --padding-21xl: 40px;
  --padding-6xs-7: 6.7px;
  --padding-19xl: 38px;
  --padding-5xs: 8px;
  --padding-15xl: 34px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-20xl: 39px;
  --padding-18xl: 37px;
  --padding-2xs-2: 10.2px;
  --padding-smi: 13px;
  --padding-4xs: 9px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-mini-7: 14.7px;
  --padding-8xl: 27px;
  --padding-25xl: 44px;
  --padding-2xl-6: 21.6px;
  --padding-26xl: 45px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-23xl: 42px;
  --padding-10xl: 29px;
  --padding-28xl: 47px;
  --padding-6xl: 25px;
  --padding-44xl: 63px;
  --padding-46xl: 65px;
  --padding-22xl: 41px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-2xs: 11px;
  --padding-313xl: 332px;
  --padding-135xl: 154px;
  --padding-462xl-2: 481.2px;
  --padding-190xl: 209px;
  --padding-473xl: 492px;
  --padding-462xl: 481px;
  --padding-55xl: 74px;
  --padding-54xl: 73px;
  --padding-0: 0px;
  --padding-3xs: 10px;
  --padding-lgi: 19px;
  --padding-xs: 12px;
  --padding-mini: 15px;
  --padding-6xs: 7px;
  --padding-38xl-2: 57.2px;
  --padding-29xl: 48px;
  --padding-70xl: 89px;
  --padding-8xs-3: 4.3px;
  --padding-121xl: 140px;
  --padding-72xl: 91px;
  --padding-40xl: 59px;
  --padding-32xl: 51px;
  --padding-113xl: 132px;
  --padding-126xl: 145px;
  --padding-53xl: 72px;
  --padding-48xl: 67px;
  --padding-58xl: 77px;
  --padding-9xs-5: 3.5px;
  --padding-208xl: 227px;
  --padding-129xl: 148px;
  --padding-77xl: 96px;
  --padding-27xl: 46px;
  --padding-30xl: 49px;
  --padding-41xl: 60px;
  --padding-168xl: 187px;
  --padding-133xl: 152px;
  --padding-mid: 17px;
  --padding-171xl: 190px;
  --padding-155xl: 174px;

  /* Border radiuses */
  --br-sm: 14px;
  --br-3xs: 10px;
  --br-11xs: 2px;
  --br-981xl: 1000px;
  --br-8xs: 5px;
  --br-9xs: 4px;
}
